body {

	background-image: linear-gradient(sandybrown, white)
}
h1 {
	font-size: 350%;
	color: black;
}
 h2 {
 	color: darkblue;
 	font-size: 250%;
 	font-family: "Georgia", serif;	
 }
p {
	color: black;
	font-size: 150%;
	font-family: "Times new Roman", serif;
	border: 8px black;
}

